nav.home-menu {
  line-height: 50px;
  text-align: center;
  background: #1976D2; 
}
nav.home-menu .pure-menu-heading {
	color: white;
	font-size: 2.5em;
	font-family: 'Yesteryear', cursive;
	text-transform: none; 
}
nav.home-menu .pure-menu-selected a {
	color: white; 
}
nav.home-menu a {
	padding: 0 10px;
	color: #6FBEF3; 
}
nav.home-menu li a:hover,
nav.home-menu li a:focus {
	background: none;
	border: none;
	color: #AECFE5; 
}

@media (min-width: 48em) {
  	nav.home-menu {
    	text-align: left; 
	}
    nav.home-menu ul {
      	float: right; 
  	} 
}