.board {
    height: 100%;
}
.board-title {
    background: #2196F3;
    color: rgba(255, 255, 255, 0.9);
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.board-title h2 {
    margin: 0;
    font-weight: 300;
}
.board-title h2 small {
    padding-left: 20px;
}
.lists {
    display: flex;
    overflow-x: auto;
    height: calc(100% - 40px);
}
.lists .list {
    min-width: 200px;
    height: 100%;
}
.lists .list:not(:last-child) {
    border-right: 1px solid #EEE;
}
.new-list {
    padding: 10px;
}
.new-list button {
    width: 100%;
    background-color: #EEE;
}