main {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0; }

nav.home-menu {
  line-height: 50px;
  text-align: center;
  background: #1976D2; }
  nav.home-menu .pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4; }
  nav.home-menu .pure-menu-heading {
    color: white;
    font-size: 2.5em;
    font-family: 'Yesteryear', cursive;
    text-transform: none; }
  nav.home-menu .pure-menu-selected a {
    color: white; }
  nav.home-menu a {
    padding: 0 10px;
    color: #6FBEF3; }
  nav.home-menu li a:hover,
  nav.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5; }

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {
  nav.home-menu {
    text-align: left; }
    nav.home-menu ul {
      float: right; } }

.board {
  height: 100%; }
  .board-title {
    background: #2196F3;
    color: rgba(255, 255, 255, 0.9);
    height: 40px;
    line-height: 40px;
    padding: 0 10px; }
    .board-title h2 {
      margin: 0;
      font-weight: 300; }
      .board-title h2 small {
        padding-left: 20px; }
  .board .lists {
    display: flex;
    overflow-x: auto;
    height: calc(100% - 40px); }
    .board .lists .list {
      min-width: 200px;
      height: 100%; }
      .board .lists .list:not(:last-child) {
        border-right: 1px solid #EEE; }
  .board .new-list {
    padding: 10px; }
    .board .new-list button {
      width: 100%;
      background-color: #EEE; }

.list {
  overflow-y: auto;
  padding: 0 10px; }
  .list .task {
    margin: 10px 0;
    padding: 10px;
    background: #F3F3F3;
    border-radius: 2px;
    height: 2em; }

.add-new-card {
  height: 2.2em;
  transform-style: preserve-3d;
  transition: transform 0.3s; }
  .add-new-card button.add-button {
    width: 100%;
    background: #56C48C;
    color: rgba(0, 0, 0, 0.8); }
  .add-new-card .front, .add-new-card .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden; }
  .add-new-card .back {
    transform: rotateX(180deg);
    background: #E6E6E6;
    border-radius: 2px; }
  .add-new-card.flipped {
    transform: rotateX(180deg); }

html, body {
  height: 100%; }

body {
  color: #7f8c8d;
  font-size: 12px;
  font-family: 'Roboto', sans-serif; }
